#app-mount .lookFilled-yCfaCM {
    -webkit-transform: var(--transform-normal);
            transform: var(--transform-normal);
    -webkit-transition: var(--button-transition);
    transition: var(--button-transition);
}
#app-mount .lookFilled-yCfaCM:hover {
    -webkit-transform: var(--button-transform-hover);
            transform: var(--button-transform-hover);
}
#app-mount .lookFilled-yCfaCM[disabled] {
    -webkit-transform: none;
            transform: none;
}
#app-mount .lookFilled-yCfaCM.colorBrand-I6CyqQ {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-blurple)));
    background: linear-gradient(var(--gradient-blurple));
}
#app-mount .lookFilled-yCfaCM.colorGreen-3y-Z79, #app-mount .lookFilled-yCfaCM.button-1EGGcP.buttonActive-Uc1jHx {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-green)));
    background: linear-gradient(var(--gradient-green));
}
#app-mount .lookFilled-yCfaCM.colorYellow-Pgtmch {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-yellow)));
    background: linear-gradient(var(--gradient-yellow));
}
#app-mount .lookFilled-yCfaCM.colorRed-rQXKgM {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-red)));
    background: linear-gradient(var(--gradient-red));
}
#app-mount .lookFilled-yCfaCM.colorPrimary-2AuQVo, #app-mount .lookFilled-yCfaCM.colorGrey-2iAG-B, #app-mount .lookFilled-yCfaCM.buttonColor-3bP3fX {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-grey)));
    background: linear-gradient(var(--gradient-grey));
}

#app-mount .guilds-2JjMmN .wrapper-3kah-n .homeIcon-FuNwkv {
    -webkit-transition: var(--button-transition);
    transition: var(--button-transition);
    -webkit-transform: var(--transform-normal);
            transform: var(--transform-normal);
}
#app-mount .guilds-2JjMmN .wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-blurple)));
    background: linear-gradient(var(--gradient-blurple));
}
#app-mount .guilds-2JjMmN .wrapper-3kah-n.selected-1Drb7Z .homeIcon-FuNwkv {
    -webkit-transform: var(--transform-hover);
            transform: var(--transform-hover);
}
#app-mount .guilds-2JjMmN .circleIconButton-1QV--U svg {
    -webkit-transition: var(--button-transition);
    transition: var(--button-transition);
    -webkit-transform: var(--transform-normal);
            transform: var(--transform-normal);
}
#app-mount .guilds-2JjMmN .circleIconButton-1QV--U.selected-1JjBPm {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-green)));
    background: linear-gradient(var(--gradient-green));
}
#app-mount .guilds-2JjMmN .circleIconButton-1QV--U.selected-1JjBPm svg {
    -webkit-transform: var(--transform-hover);
            transform: var(--transform-hover);
    color: white;
}

#app-mount .menu-1QACrS .item-1OdjEX {
    font-weight: var(--font-default);
    -webkit-transition: var(--button-transition);
    transition: var(--button-transition);
}
#app-mount .menu-1QACrS .item-1OdjEX.focused-3qFvc8, #app-mount .menu-1QACrS .item-1OdjEX:active {
    font-size: var(--fontsize-hover);
    font-weight: var(--font-hover);
}
#app-mount .menu-1QACrS .colorDefault-CDqZdO.focused-3qFvc8, #app-mount .menu-1QACrS .colorDefault-CDqZdO:active {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-blurple)));
    background: linear-gradient(var(--gradient-blurple));
}
#app-mount .menu-1QACrS .colorDanger-3n-KnP.focused-3qFvc8, #app-mount .menu-1QACrS .colorDanger-3n-KnP:active {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-red)));
    background: linear-gradient(var(--gradient-red));
}
#app-mount .menu-1QACrS .colorPremium-vwmYZQ.focused-3qFvc8, #app-mount .menu-1QACrS .colorPremium-vwmYZQ:active {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-special)));
    background: linear-gradient(var(--gradient-special));
}
#app-mount .menu-1QACrS #status-picker-online.focused-3qFvc8, #app-mount .menu-1QACrS #status-picker-online:active {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-green)));
    background: linear-gradient(var(--gradient-green));
}
#app-mount .menu-1QACrS #status-picker-idle.focused-3qFvc8, #app-mount .menu-1QACrS #status-picker-idle:active {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-yellow)));
    background: linear-gradient(var(--gradient-yellow));
}
#app-mount .menu-1QACrS #status-picker-dnd.focused-3qFvc8, #app-mount .menu-1QACrS #status-picker-dnd:active {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-red)));
    background: linear-gradient(var(--gradient-red));
}
#app-mount .menu-1QACrS #status-picker-invisible.focused-3qFvc8, #app-mount .menu-1QACrS #status-picker-invisible:active {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-grey)));
    background: linear-gradient(var(--gradient-grey));
}

#app-mount .wrapper-2vIMkT .button-3bklZh img, #app-mount .wrapper-2vIMkT .button-3bklZh svg {
    -webkit-transition: var(--button-transition);
    transition: var(--button-transition);
    -webkit-transform: var(--transform-normal);
            transform: var(--transform-normal);
}
#app-mount .wrapper-2vIMkT .button-3bklZh:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-blurple)));
    background: linear-gradient(var(--gradient-blurple));
}
#app-mount .wrapper-2vIMkT .button-3bklZh:hover svg {
    -webkit-transform: var(--transform-hover);
            transform: var(--transform-hover);
    color: white;
}
#app-mount .wrapper-2vIMkT .button-3bklZh.dangerous-Y36ifs:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-red)));
    background: linear-gradient(var(--gradient-red));
}

#app-mount [aria-label$=_SETTINGS] .side-2ur1Qk .item-3XjbnG {
    font-weight: var(--font-default);
    -webkit-transition: var(--button-transition);
    transition: var(--button-transition);
}
#app-mount [aria-label$=_SETTINGS] .side-2ur1Qk .item-3XjbnG:hover {
    font-weight: var(--font-hover);
}
#app-mount [aria-label$=_SETTINGS] .side-2ur1Qk .item-3XjbnG.selected-g-kMVV {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-blurple)));
    background: linear-gradient(var(--gradient-blurple));
    color: #fff;
    font-weight: var(--font-hover);
}
#app-mount [aria-label$=_SETTINGS] .side-2ur1Qk .item-3XjbnG.selected-g-kMVV.premiumTabItem-1QTfBr, #app-mount [aria-label$=_SETTINGS] .side-2ur1Qk .item-3XjbnG.selected-g-kMVV.serverBoostTabItem-2hFTIN {
    background: -webkit-gradient(linear, left top, left bottom, from(var(--gradient-special)));
    background: linear-gradient(var(--gradient-special));
}
