/**
    * @name Gradient Buttons V2
    * @version 2.3.0
    * @descriptionAdd some spice to your buttons.. with gradients!
    * @author LuckFire#4800
    *
    * @website https://github.com/LuckFire
    * @source https://github.com/LuckFire/GradientButtons-v2/tree/main/src
**/

@import url('https://discord-theme-addons.github.io/gradientbuttons-v2/src/support/compiled.css');

:root {
    /* Gradients */
    --gradient-special: 140deg, #8980F0 0%, #D577F0 100%;
    --gradient-blurple: 140deg, #5865f2 0%, #2a328a 100%;
    --gradient-green: 140deg, #3BA55D 0%, #15662f 100%;
    --gradient-yellow: 140deg, #FAA81A 0%, #be8013 100%;
    --gradient-red: 140deg, #ed4245 0%, #912b2d 100%;
    --gradient-grey: 140deg, #747F8D 0%, #3c424b 100%;

    /* Transitions */
    --button-transition: 0.1s linear;
    --font-default: 500;
    --font-hover: bold;
    --fontsize-hover: 15px;
    --transform-normal: scale(1);
    --transform-hover: scale(1.15);
    --button-transform-hover: scale(1.04);
}
