#app-mount .guilds-2JjMmN {
    .wrapper-3kah-n {
        .homeIcon-FuNwkv {
            transition: var(--button-transition);
            transform: var(--transform-normal);
        }

        &.selected-1Drb7Z {
            .childWrapper-1j_1ub {
                background: linear-gradient(var(--gradient-blurple))
            }
            .homeIcon-FuNwkv {
                transform: var(--transform-hover);
            }
        }
    }
    .circleIconButton-1QV--U { 
        svg {
            transition: var(--button-transition);
            transform: var(--transform-normal);
        }
        
        &.selected-1JjBPm {
            background: linear-gradient(var(--gradient-green));

            svg {
                transform: var(--transform-hover);
                color: white;
            }
        }
    }
}