#app-mount .menu-1QACrS {
    .item-1OdjEX {
        font-weight: var(--font-default);
        transition: var(--button-transition);

        &.focused-3qFvc8, &:active {
            font-size: var(--fontsize-hover);
            font-weight: var(--font-hover);
        }
    }

    // defaults
    .colorDefault-CDqZdO {
        &.focused-3qFvc8, &:active {
            background: linear-gradient(var(--gradient-blurple))
        }
    }
    .colorDanger-3n-KnP {
        &.focused-3qFvc8, &:active {
            background: linear-gradient(var(--gradient-red))
        }
    }
    .colorPremium-vwmYZQ {
        &.focused-3qFvc8, &:active {
            background: linear-gradient(var(--gradient-special))
        }
    }

    // status picker
    #status-picker-online {
        &.focused-3qFvc8, &:active {
            background: linear-gradient(var(--gradient-green))
        }
    }
    #status-picker-idle {
        &.focused-3qFvc8, &:active {
            background: linear-gradient(var(--gradient-yellow))
        }
    }
    #status-picker-dnd {
        &.focused-3qFvc8, &:active {
            background: linear-gradient(var(--gradient-red))
        }
    }
    #status-picker-invisible {
        &.focused-3qFvc8, &:active {
            background: linear-gradient(var(--gradient-grey))
        }
    }
}