#app-mount .wrapper-2vIMkT .button-3bklZh {
    img, svg {
        transition: var(--button-transition);
        transform: var(--transform-normal);
    }

    &:hover {
        background: linear-gradient(var(--gradient-blurple));

        svg {
            transform: var(--transform-hover);
            color: white;
        }
    }

    &.dangerous-Y36ifs:hover {
        background: linear-gradient(var(--gradient-red))
    }
}