#app-mount .lookFilled-1Gx00P {
    transform: var(--transform-normal);
    transition: 0.15s linear;

    &:hover {
        transform: var(--button-hover-transform);
    }

    &.colorBrand-3pXr91:not(.buttonActive-3FrkXp) {
        background: linear-gradient(var(--default-gradient));
    }

    &.colorGrey-2DXtkV, &.colorPrimary-3b3xI6 {
        background: linear-gradient(var(--grey-gradient));
    }
    
    &.buttonColor-7qQbGO.disabled-158sUq {
        background: linear-gradient(var(--grey-gradient));

        &:hover {
            transform: var(--transform-normal);
        }
    }

    &.colorGreen-29iAKY, &.buttonActive-3FrkXp {
        background: linear-gradient(var(--green-gradient));
    }

    &.colorYellow-2JqYwt {
        background: linear-gradient(var(--yellow-gradient));
    }

    &.colorRed-1TFJan {
        background: linear-gradient(var(--red-gradient));
    }
}
