#app-mount .lookFilled-1Gx00P {
    transform: var(--transform-normal);
    transition: var(--button-transition);

    &:hover {
        transform: var(--button-transform-hover);
    }
    &[disabled] {
        transform: none;
    }

    &.colorBrand-3pXr91 {
        background: linear-gradient(var(--gradient-blurple));
    }
    &.colorGreen-29iAKY, &.button-1YfofB.buttonActive-3FrkXp {
        background: linear-gradient(var(--gradient-green));
    }
    &.colorYellow-2JqYwt {
        background: linear-gradient(var(--gradient-yellow));
    }
    &.colorRed-1TFJan {
        background: linear-gradient(var(--gradient-red));
    }
    &.colorPrimary-3b3xI6, &.colorGrey-2DXtkV, &.buttonColor-7qQbGO {
        background: linear-gradient(var(--gradient-grey));
    }
}