.lookFilled-yCfaCM {
    transform: var(--transform-normal);
    transition: var(--button-transition);
    background: var(--gradient);
    &:hover {
        transform: var(--button-transform-hover);
    }
    &[disabled] {
        transform: none;
    }

    &.colorBrand-I6CyqQ {
        --gradient: linear-gradient(var(--gradient-blurple));
    }
    &.colorGreen-3y-Z79, &.button-1EGGcP.buttonActive-Uc1jHx {
        --gradient: linear-gradient(var(--gradient-green));
    }
    &.colorYellow-Pgtmch {
        --gradient: linear-gradient(var(--gradient-yellow));
    }
    &.colorRed-rQXKgM {
        --gradient: linear-gradient(var(--gradient-red));
    }
    &.colorPrimary-2AuQVo, &.colorGrey-2iAG-B, &.buttonColor-3bP3fX {
        --gradient: linear-gradient(var(--gradient-grey));
    }
}