#app-mount .guilds-1SWlCJ {
    .wrapper-1BJsBx {
        .homeIcon-FuNwkv {
            transition: var(--button-transition);
            transform: var(--transform-normal);
        }

        &.selected-bZ3Lue {
            .childWrapper-anI2G9 {
                background: linear-gradient(var(--gradient-blurple))
            }
            .homeIcon-FuNwkv {
                transform: var(--transform-hover);
            }
        }
    }
    .circleIconButton-1QV--U { 
        svg {
            transition: var(--button-transition);
            transform: var(--transform-normal);
        }
        
        &.selected-1JjBPm {
            background: linear-gradient(var(--gradient-green));

            svg {
                transform: var(--transform-hover);
                color: white;
            }
        }
    }
}