#app-mount .wrapper-2aW0bm .button-1ZiXG9 {
    img, svg {
        transition: var(--button-transition);
        transform: var(--transform-normal);
    }

    &:hover {
        background: linear-gradient(var(--gradient-blurple));

        svg {
            transform: var(--transform-hover);
            color: white;
        }
    }

    &.dangerous-2r8KxV:hover {
        background: linear-gradient(var(--gradient-red))
    }
}