#app-mount [aria-label$="_SETTINGS"] .side-8zPYf6 {
    .item-PXvHYJ {
        font-weight: var(--font-default);
        transition: var(--button-transition);

        &:hover {
            font-weight: var(--font-hover);
        }

        &.selected-3s45Ha {
            background: linear-gradient(var(--gradient-blurple));
            color: #fff;
            font-weight: var(--font-hover);

            &.premiumTabItem-1QTfBr, &.serverBoostTabItem-2hFTIN {
                background: linear-gradient(var(--gradient-special))
            }
        }
    }
}