#app-mount .side-8zPYf6 .item-PXvHYJ {
    transform: var(--transform-normal);
    transition: var(--hover-transition);

    &:hover {
        transform: var(--setting-hover-transform);
    }

    &.selected-3s45Ha {
        background: linear-gradient(var(--default-gradient));
    }

    &[aria-controls="Discord Nitro-tab"], 
    &[aria-controls="GUILD_PREMIUM-tab"] {
        &:active, &[aria-selected="true"] {
            background: linear-gradient(var(--special-gradient));
            color: #fff;
        }
    }
}