#app-mount #status-picker .item-1tOPte {
    &.focused-3afm-j, &:active {
        transition: var(--hover-transition);

        .statusItem-33LqPf svg foreignObject .status-1AY8sU {
            background: #fff !important;
        }

        &#status-picker- {
            &online {
                background: linear-gradient(var(--green-gradient));
            }

            &idle {
                background: linear-gradient(var(--yellow-gradient)); 
            }

            &dnd {
                background: linear-gradient(var(--red-gradient));
            }

            &invisible {
                background: linear-gradient(var(--grey-gradient));
            }
        }
    }
}