$default-gradient: 315deg, #53385a 0%, #A871B6 74%;
$special-gradient: 315deg, #8980F0 0%, #D577F0 74%;
$red-gradient: 315deg, #AA3738 0%, #F04747 74%;
$yellow-gradient: 315deg, #C2831B 0%, #FFB740 74%;
$green-gradient: 315deg, #264D41 0%, #43B581 74%;
$grey-gradient: 315deg, #373A45 0%, #747F8D 74%;
$white-gradient: 315deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0) 74%;

/* Menu Items (right click, server menu, message actions, ect.) */
.item-1tOPte {
    &.focused-3afm-j, &:active:not(.colorPremium-p4p7qO):not(.colorDanger-2qLCe1):not(#user-context-user-volume) {
        background: linear-gradient($default-gradient);
    }

    &.colorPremium-p4p7qO {
        &.focused-3afm-j, &:active {
            background: linear-gradient($special-gradient);
        }
    }

    &.colorDanger-2qLCe1 {
        &.focused-3afm-j, &:active {
            background: linear-gradient($red-gradient);
        }
    }
}

.wrapper-2aW0bm .button-1ZiXG9 {
    &:not(.dangerous-2r8KxV):hover {
        color: #fff;
        background: linear-gradient($default-gradient);
    }

    &.dangerous-2r8KxV:hover {
        color: #fff;
        background: linear-gradient($red-gradient);
    }
}
.wrapper-2aW0bm div .button-1ZiXG9 {
    &:hover {
        color: #fff;
        background: linear-gradient($default-gradient);
    }
}


/* Status Menu */
#status-picker div .item-1tOPte.focused-3afm-j,
#status-picker div .item-1tOPte:active {
    .statusItem-33LqPf svg foreignObject .status-1AY8sU  {
        background: #fff !important;
    }

    &#status-picker-online {
        background: linear-gradient($green-gradient);
    }

    &#status-picker-idle {
        background: linear-gradient($yellow-gradient); 
    }
    
    &#status-picker-dnd {
        background: linear-gradient($red-gradient);
    }
    
    &#status-picker-invisible {
        background: linear-gradient($grey-gradient);
    }
}


/* Server List (home, join/create, discovery, ect) */
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 {
    background: linear-gradient($default-gradient);
}

.circleIconButton-jET_ig.selected-ugP_am {
    background: linear-gradient($green-gradient);
}


/* Settings (user, server, ect.) */
.side-8zPYf6 .item-PXvHYJ {
    &.selected-3s45Ha {
        background: linear-gradient($default-gradient);
    }

    &[style="color: rgb(255, 255, 255); background-color: rgb(114, 137, 218);"] {
        background: linear-gradient($special-gradient);
    }
}


/* Blurple Buttons */
.lookFilled-1Gx00P.colorBrand-3pXr91 {
    background: linear-gradient($default-gradient);
}

/* Grey Buttons */
.lookFilled-1Gx00P.colorGrey-2DXtkV,
.lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookFilled-1Gx00P.buttonColor-7qQbGO {
    background: linear-gradient($grey-gradient);
}


/* Green Buttons */
.lookFilled-1Gx00P.colorGreen-29iAKY,
.buttonActive-3FrkXp {
    background: linear-gradient($green-gradient);
}


/* Yellow Buttons */
.lookFilled-1Gx00P.colorYellow-2JqYwt {
    background: linear-gradient($yellow-gradient);
}

/* Red Buttons */
.lookFilled-1Gx00P.colorRed-1TFJan {
    background: linear-gradient($red-gradient);
}
