/* Menu Items (right click, server menu, message actions, ect.) */
.item-1tOPte {
    font-weight: 500;
    transition: 0.1s linear;

    &.focused-3afm-j, &:active:not(.colorPremium-p4p7qO):not(.colorDanger-2qLCe1):not(#user-context-user-volume) {
        font-size: 15px;
        font-weight: bold;
        transition: 0.1s linear;
    }
}

.wrapper-2aW0bm .button-1ZiXG9 {
    &:not(.dangerous-2r8KxV):hover {
        img, svg {
            transform: scale(1.15);
            transition: 0.15s linear;
        }
    }

    &.dangerous-2r8KxV svg:hover {
        transform: scale(1.15);
        transition: 0.15s linear;
    }
}
.wrapper-2aW0bm div .button-1ZiXG9:hover img,
.wrapper-2aW0bm div .button-1ZiXG9:hover svg {
    transform: scale(1.15);
    transition: 0.15s linear;
}


/* Status Menu */
#status-picker div .item-1tOPte.focused-3afm-j,
#status-picker div .item-1tOPte:active {
    transition: 0.075s linear;
}


/* Server List (home, join/create, discovery, ect) */
.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9 .homeIcon-tEMBK1 {
    transform: scale(1.1);
    transition: 0.15s linear;
}
.wrapper-1BJsBx .childWrapper-anI2G9 .homeIcon-tEMBK1 {
    transform: scale(1);
    transition: 0.15s linear;
}

.circleIconButton-jET_ig.selected-ugP_am svg {
    transform: scale(1.25);
}
.circleIconButton-jET_ig svg {
    transform: scale(1);
}


/* Settings (user, server, ect.) */
.side-8zPYf6 .item-PXvHYJ {
    transform: scale(1);
    transition: 0.15s linear;

    &:hover {
        transform: scale(1.025);
        transition: 0.15s linear; 
    }
}


/* All Buttons */
.lookFilled-1Gx00P.colorBrand-3pXr91 { /* Blurple Buttons */
    transform: scale(1);
    transition: 0.15s linear;

    &:hover:not([disabled]) {
        transform: scale(1.03);
        transition: 0.15s linear;
    }
}

.lookFilled-1Gx00P.colorGrey-2DXtkV,
.lookFilled-1Gx00P.colorPrimary-3b3xI6,
.lookFilled-1Gx00P.buttonColor-7qQbGO { /* Grey Buttons */
    transform: scale(1);
    transition: 0.15s linear;
    
    &:not(.fauxDisabled-2ik0Vw):hover {
        transform: scale(1.03);
        transition: 0.15s linear;
    }
}

.lookFilled-1Gx00P.colorGreen-29iAKY,
.buttonActive-3FrkXp { /* Green Buttons */
    transform: scale(1);
    transition: 0.15s linear;

    &:hover {
        transform: scale(1.03);
        transition: 0.15s linear;
    }
}

.lookFilled-1Gx00P.colorYellow-2JqYwt { /* Yellow Buttons */
    transform: scale(1);
    transition: 0.15s linear;

    &:hover {
        transform: scale(1.03);
        transition: 0.15s linear;
    }
}

.lookFilled-1Gx00P.colorRed-1TFJan { /* Red Buttons */
    transform: scale(1);
    transition: 0.15s linear;

    &:hover {
        transform: scale(1.03);
        transition: 0.15s linear;
    }
}
